In [1]:
# Iteration 
#Execution of While Loop (Infinite Loop untill condition is true)
n=5
while n>0 :
    print (n)
    n=n-1
    print ('Blastoff!')

5
Blastoff!
4
Blastoff!
3
Blastoff!
2
Blastoff!
1
Blastoff!

In [2]:
# How to break a While Loop "Break Statement" (While is infinite Loop)
while True:
    line = input ('> ')
    if line == 'done':
        break
        print (line)
        print ('Done!')

> 1
> 2
> 3
> done

In [3]:
# Continue Statement

while True:
    line = input ('> ')
    if line [0] == '#':
        continue
    if line == 'done':
        break
    print ('line')
print ('done!')

> 1
line
> 2
line
> 3
line
> #
> done
done!

In [4]:
# For Loop
friends= ['Adeel','Tauseef','Memon']
for friend in friends:
    print ('Happy Ramadhan: ', friend)
print ('Done!')

Happy Ramadhan:  Adeel
Happy Ramadhan:  Tauseef
Happy Ramadhan:  Memon
Done!

In [5]:
# Counting and Summing  Loops
count=0
for intervar in [3, 42, 12, 9, 74, 15]:
    count = count+1
    print ('Count: ', count)

Count:  1
Count:  2
Count:  3
Count:  4
Count:  5
Count:  6

In [6]:
# Counting and Summing  Loops 2
count=0
for intervar in [3, 42, 12, 9, 74, 15]:
    count = count+1
    print (intervar)
print ('Count: ', count)

3
42
12
9
74
15
Count:  6

In [7]:
# Sum all the values in the list
total=0
for itervar in [3,41,12,9, 74, 15]:
    total = total +itervar
    print ("Total: ", total)

Total:  3
Total:  44
Total:  56
Total:  65
Total:  139
Total:  154

In [8]:
largest= None
print ('Before: ', largest)
for itervar in [3,41,12,9, 74, 15]:
    if largest is None or  itervar > largest :
        largest = itervar
    print ('Loop:', itervar, largest)
print ("largest:", largest)

Before:  None
Loop: 3 3
Loop: 41 41
Loop: 12 41
Loop: 9 41
Loop: 74 74
Loop: 15 74
largest: 74

In [9]:
# "None" is Data type in Python

a= None
type (a)

NoneType

In [10]:
# Minimum Loops

smallest= None
print ('Before: ', smallest)
for itervar in [3,41,12,9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
    print ("Loop:", itervar, smallest)
print ('Smallest: ', smallest)

Before:  None
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 15 3
Smallest:  3

In [11]:
# Max and Min functions

max([3,41,12,9, 74, 15])


# In[24]:


min([3,41,12,9, 74, 15])

3

In [12]:
# Activity 9.1 Enter numbers, add number, count numbers, calculate average, if number is 'done' exit execution. 
total=0
count=0
avergae=0
while True:
    number1 = input ('Enter a number or write done in case you are done > ')
    if number1=='done':
        break
    try:
        number2= int(number1)
        total= total+ number2
        count= count+1
        average=total/count
    except:
        print('The value is not integer, please input the correct value')
print ('The total is = ' , total)
print ('The count is = ', count)
print ('The average is = ', average)

Enter a number or write done in case you are done > 1
Enter a number or write done in case you are done > 2
Enter a number or write done in case you are done > 3
Enter a number or write done in case you are done > done
The total is =  6
The count is =  3
The average is =  2.0

In [13]:
# Activity 9.2 Multiplication table
num=10
for i in range (1,11):
    print (num, 'x', i, '=', num*i )

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [14]:
# STRING
a='banana'
a[1]

'a'

In [15]:
# STRING
a='Mudasar'
a[-1]

'r'

In [16]:
fruit = input ('Enter a name of fruit > ')
len(fruit)

Enter a name of fruit > apple

5

In [17]:
fruit[1]

'p'

In [18]:
# Traversal trough a string with a loop
fruit = 'banana'
index = 0
while index< len (fruit):
    letter= fruit[index]
    print (letter)
    index= index+1

b
a
n
a
n
a

In [19]:
# Reverse Traversal trough a string with a loop Actvity 10
fruit = 'banana'
index = len(fruit)
while index <= len (fruit):
    letter= fruit[index-1]
    print (letter)
    index= index-1
    if index==0:
        break

a
n
a
n
a
b

In [20]:

# String Slices
s= 'Mudasar Latif Memon'
print (s[:7])

Mudasar

In [21]:
# String Slices
s= 'Mudasar Latif Memon'
print (s[0: ])

Mudasar Latif Memon

In [22]:
# String Slices with increments
s= 'Mudasar Latif Memon'
print (s[0:7:2])

Mdsr

In [23]:
# String Slices
s= 'Mudasar Latif Memon'
print (s[0:14:3])

Maraf

In [24]:
# String Slices Negative Indexing
s= 'Mudasar Latif Memon'
print (s[ :-7])

Mudasar Lati

In [25]:
# String Slices Negative Indexing
s= 'Mudasar Latif Memon'
print (s[ : : -1])

nomeM fitaL rasaduM

In [26]:
# String Slices Negative Indexing
s= 'Mudasar Latif Memon'
print (s[ : -3])

Mudasar Latif Me

In [27]:
# Strings are Immutable
greetings= ' Hello world'
greetings[0]='J'

TypeError: 'str' object does not support item assignment

In [28]:
# Strings are Immutable but can replace
greetings= 'Hello world'
new_greetings= 'J'+ greetings[1:]
print (new_greetings)

Jello world

In [29]:
# Looping and Counting
word= 'banana'
count=0
for letter in word:
    if letter == 'a':
        count= count+1
print (count)

3

In [30]:
# Activity Count the number of letters 
word= input ('Enter a word> ')
letter1= input ('Enter the letter you want to count> ')
count= 0
for letter in word:
    if letter == letter1:
        count= count+1
print (count)

Enter a word> a
Enter the letter you want to count> a
1

In [31]:
def countletters(str, ch):
    fruit=str
    count=0
    for char in fruit:
        if char == ch:
            count= count+1
    print (count)
countletters ("banana", "a")

3

In [32]:
# in Operator returns value True or False
'a' in 'banana'

True

In [33]:
'seed' in 'banana'

False

In [34]:
# ord function gives ASCII value of characters
print(ord('a'))

97

In [35]:
# String Comparison
if word == 'banana':
    print('All right. bannas')

In [36]:
if word == 'b':
    print('All right. bannas')

In [37]:
# Compare the ASCII values of Characters
if word < 'b':
    print('All right. bannas')

All right. bannas

In [38]:
if word > 'b':
    print('All right. bannas')

In [39]:
# Compares the strings on the basis of ASCII value of first character
word= 'pinapple'
if word< 'banana':
    print ('Your word,'+ word + ', comes before banana.')
elif word> 'banana':
    print ('your word, ' + word + ', comes after banana.')
else:
    print('All right, bananas.')

your word, pinapple, comes after banana.

In [40]:
ord('p')

112

In [41]:
ord ('b')

98

In [42]:
# Directory
dir(word)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [43]:
# Upper Case
word= 'banana'
new_word= word.upper()
print(new_word)

BANANA

In [44]:
# 
word= 'banana'
new_word= word.title()
print(new_word)

Banana

In [45]:
word= 'banana'
new_word= word.split()
print(new_word)

['banana']

In [46]:
# Activity 12
# find function finds the character
word= 'banana'
d= word.find('a')

a= word.strip()

b= word.startswith('b')

c= word.lower()

print (a ,'\n', b,'\n', c,'\n', d)

banana
 True
 banana
 1

In [47]:
# Finding @ in the text
text= 'From mudasarlatif.ccnf@iba-suk.edu.pk Sat Jan 5 09:14:16 2008'
text.find('@')

22

In [48]:
# split 
text= 'From mudasarlatif.ccnf@iba-suk.edu.pk Sat Jan 5 09:14:16 2008'
text.split()

['From',
 'mudasarlatif.ccnf@iba-suk.edu.pk',
 'Sat',
 'Jan',
 '5',
 '09:14:16',
 '2008']

In [49]:
# split 
text= 'From mudasarlatif.ccnf@iba-suk.edu.pk Sat Jan 5 09:14:16 2008'
list= text.split()
for i in list:
    print (i)

From
mudasarlatif.ccnf@iba-suk.edu.pk
Sat
Jan
5
09:14:16
2008

In [50]:
# split 
text= 'From mudasarlatif.ccnf@iba-suk.edu.pk Sat Jan 5 09:14:16 2008'
list= text.split()
for i in list:
    print (i)  
print (list[1])

From
mudasarlatif.ccnf@iba-suk.edu.pk
Sat
Jan
5
09:14:16
2008
mudasarlatif.ccnf@iba-suk.edu.pk

In [51]:
# Write a Python program to convert a given string into a list of words.
text= 'From mudasarlatif.ccnf@iba-suk.edu.pk Sat Jan 5 09:14:16 2008'
list= text.split()
print (list)

['From', 'mudasarlatif.ccnf@iba-suk.edu.pk', 'Sat', 'Jan', '5', '09:14:16', '2008']

In [52]:
# Write a Python program to lowercase first n characters in a string.
uppercase= 'My Name is Mudasar Latif Memon'
l=uppercase.lower()
print (l)

my name is mudasar latif memon

In [53]:
# Write a Python program to count and display the vowels of a given text.
text = 'My Name is Mudasar Latif Memon'
count=0
for i in text:
    if i == 'a':
        count= count+1
    elif i== 'e':
        count= count+1
    elif i== 'i':
        count= count+1
    elif  i== 'o':
        count= count+1
    elif i== 'u':
        count= count+1
print (count)

10

In [54]:

# Write a Python program to remove the characters which have odd index values of a given string.
text = 'My Name is Mudasar Latif Memon'
y= text[ : : 2]
print (y)

M aei uaa ai eo