In [10]:
# Interpolation

first_name='Mudasar'
last_name='Latif'
print(f'My First Name is {first_name} and My second name is {last_name}' )

My First Name is Mudasar and My second name is Latif

In [3]:
a=12
b=3
print(f'12 multiply 3 is {a*b}.')

12 multiply 3 is 36.

In [16]:
print("%s %s %('Hello','World')")

%s %s %{'Hello','World'}

In [13]:
name= 'world'
program= 'python'
print (' Hello %s This is %s '%(name, program))

 Hello world This is python

In [15]:
# String Format
name='world'
print('Hello, {}'.format(name))

Hello, world

In [21]:
# Zip Function
languages=['java','python','javascript']
versions=[14,3,6]
result= zip(languages, versions)
print(list(result))
type(result)

[('java', 14), ('python', 3), ('javascript', 6)]

zip

In [23]:
# Zip Function
languages=['java','python','javascript']
versions=[14,3,6]
result= zip(languages, versions)
print(tuple(result))
type(result)

(('java', 14), ('python', 3), ('javascript', 6))

zip

In [24]:
# Pandas for Data Manuplation, Data Analysis

#series= I d- column
#data frame= 2D- data
#panel = sheets in excel

In [31]:
conda install pandas

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [38]:
import pandas as pd
ser1= pd.Series (data= [145,142,38,13], index=['a','b','c','d'], name='counts')
print(ser1)

a    145
b    142
c     38
d     13
Name: counts, dtype: int64

In [39]:
import pandas as pd
ser1= pd.Series (data= [145,142,38,13], name='counts')
print(ser1)

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [41]:
import pandas as pd
ser1= pd.Series (data= [145,142,38,13])
print(ser1)

0    145
1    142
2     38
3     13
dtype: int64

In [43]:
import pandas as pd
ser1= pd.Series (data= [145,142,38,13])
print(ser1)

0    145
1    142
2     38
3     13
dtype: int64

In [45]:
mask=ser1>ser1.median()
mask

0     True
1     True
2    False
3    False
dtype: bool

In [46]:
# Series CRUD /Create Read Update Delete (CRUD)

In [51]:
# Adding a custom index
george_dupe=pd.Series (data= [145,142,38,13])
george_dupe[2]=6
george_dupe['142']=3
print(george_dupe)

0      145
1      142
2        6
3       13
142      3
dtype: int64

In [53]:
# Deletion
del george_dupe['142']
print(george_dupe)

KeyError: '142'

In [68]:
# series with custom index
george_dupe=pd.Series (data= [145,142,38,13], index=['1968','1969', 6, 9], name= ('Mudasar'))
print(george_dupe)

1968    145
1969    142
6        38
9        13
Name: Mudasar, dtype: int64

In [69]:
# if index is unique
george_dupe.index.is_unique

True

In [89]:
# series with custom index
series3=pd.Series (data= [145,142,38,13], index=['1968','1969', 9, 8], name= ('Mudasar'))
print(series3)

1968    145
1969    142
9        38
8        13
Name: Mudasar, dtype: int64

In [90]:
# index is not unique 
series3.index.is_unique

True

In [91]:
series3[2::]

9    38
8    13
Name: Mudasar, dtype: int64

In [92]:
# index Location function iloc (For default index)
series3.iloc[1]

142

In [93]:
# Loc for custom index
series3.loc[9]

38

In [95]:
# Loc for custom index
series3.at[9]

38

In [96]:
songs_66=pd.Series([3, None, 11, 9],
                  index=['George','Ringo','John','Paul'],
                  name='counts')

songs_69=pd.Series([18, 22, 7, 5],
                  index=['John','Mudasar','Latif','Memon'],
                  name='counts')

In [98]:
for value in songs_66:
    print(value)

3.0
nan
11.0
9.0

In [101]:
for idx, value in songs_66.items():
    print(value)

3.0
nan
11.0
9.0

In [102]:
for idx, value in songs_66.items():
    print(idx,value)

George 3.0
Ringo nan
John 11.0
Paul 9.0

In [103]:
for idx, value in songs_66.iteritems():
    print(idx,value)

George 3.0
Ringo nan
John 11.0
Paul 9.0

C:\Users\Mudasar\AppData\Local\Temp\ipykernel_2928\58083268.py:1: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for idx, value in songs_66.iteritems():

In [109]:
# unique will give the list of unique numbers
songs_66.unique()

array([ 3., nan, 11.,  9.])

In [110]:
# nunique Gives count of unique numbers
songs_66.nunique()

3

In [118]:
songs_70=pd.Series(data= [18, 22, 7, 5], index=['John','Mudasar','Latif','Memon'], name='counts')
print(songs_70.drop_duplicates())

John       18
Mudasar    22
Latif       7
Memon       5
Name: counts, dtype: int64

In [114]:
songs_70=pd.Series([18, 22, 7, 5],
                  index=['John','Mudasar','Latif','Memon'],
                  name='counts')
songs_70.duplicated()

John       False
Mudasar    False
Latif      False
Memon      False
Name: counts, dtype: bool

In [128]:
# Groups are indexed based on custom index 
songs_70=pd.Series(data=[18, 22, 7, 5, 6],
                  index=['a','Mudasar','18','Memon',None],
                  name='counts')
songs_70.groupby(songs_70.index).first()

18          7
Memon       5
Mudasar    22
a          18
Name: counts, dtype: int64

In [129]:
songs_70.groupby(songs_70.index).last()

18          7
Memon       5
Mudasar    22
a          18
Name: counts, dtype: int64

In [130]:
songs_70.sum()

58

In [131]:
# Combining a series to form a data from

import numpy as np
ser1=pd.Series(list('abcdefgh'))
ser2=pd.Series(np.arange(26))

In [132]:
print(ser1)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
dtype: object

In [133]:
print(ser2)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [137]:
df=pd.concat([ser1, ser2],axis= 1)
print(df.head)

<bound method NDFrame.head of       0   1
0     a   0
1     b   1
2     c   2
3     d   3
4     e   4
5     f   5
6     g   6
7     h   7
8   NaN   8
9   NaN   9
10  NaN  10
11  NaN  11
12  NaN  12
13  NaN  13
14  NaN  14
15  NaN  15
16  NaN  16
17  NaN  17
18  NaN  18
19  NaN  19
20  NaN  20
21  NaN  21
22  NaN  22
23  NaN  23
24  NaN  24
25  NaN  25>

In [140]:
df=pd.DataFrame({'S1.': ser1, 'S2': ser2})
print(df.head())

  S1.  S2
0   a   0
1   b   1
2   c   2
3   d   3
4   e   4

In [144]:
songs_70=pd.DataFrame({'S.No.':[1, 2, 3, 4],
                       'Names':['Mudasar', 'Latif', 'Memon', 'Asad']})
print(songs_70.head())

   S.No.    Names
0      1  Mudasar
1      2    Latif
2      3    Memon
3      4     Asad

In [149]:
# Accessing Columns
songs_70['Names']

0    Mudasar
1      Latif
2      Memon
3       Asad
Name: Names, dtype: object