<a href="https://colab.research.google.com/github/MemonML/datascience_bootcamp/blob/main/day6_python_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print( t and f)

False

In [ ]:
x=2
print (x**2)

4

In [ ]:
print(type(x))

<class 'int'>

In [ ]:
y=2.3
print(type(y))

<class 'float'>

In [ ]:
t, f = True, False
print (type(t), type(f))
print(t,f)

<class 'bool'> <class 'bool'>
True False

# OR Logical Operators are used in Masking application

In [ ]:
print(t or f)

True

In [ ]:
print(not t)

False

In [ ]:
print(t !=f )

True

In [ ]:
# Strings

In [ ]:
h= 'hello'
w= "world"

In [ ]:
print (h, type (h))

hello <class 'str'>

In [ ]:
hw= h+ '    '+ w
print (hw)

hello    world

In [ ]:
hw.upper()

'HELLO    WORLD'

In [ ]:
hw.lower()

'hello    world'

In [ ]:
hw.count('o')

2

In [ ]:
hw.count??

In [ ]:

print(hw.replace('l','ell'))

heellello    worelld

In [ ]:
hw.replace??

In [ ]:
st= ' This is a car'
print (st.split(' '))

['', 'This', 'is', 'a', 'car']

In [ ]:
st= ' This is a car'
print (st.count('car'))
type(st)

1

str

# List / Data Containers

In [ ]:
xs= [1,2,3,4, -9]
print(xs)

[1, 2, 3, 4, -9]

In [ ]:
print(type(xs))

<class 'list'>

In [ ]:
print(xs[2])

3

In [ ]:
xs.append(-10)

In [ ]:
print(xs)

[1, 2, 3]

# Pop function will pop the last value and will remove that element from the list

In [ ]:

x=xs.pop()
print (xs)
print(x)

[1, 2, 3]
4

In [ ]:
xs[-1]

3

In [ ]:
print(len(xs))

3

In [ ]:
text= 'My Name is Mudasar Latif Memon, I have completed my Ph.D. from SKKU. I love to learn the data science cource'
print (text)
text1=text.replace('love', 'like')
print (text1)

My Name is Mudasar Latif Memon, I have completed my Ph.D. from SKKU. I love to learn the data science cource
My Name is Mudasar Latif Memon, I have completed my Ph.D. from SKKU. I like to learn the data science cource

In [ ]:
text.replace??

In [ ]:
nums= list(range(5))
print(nums)

[0, 1, 2, 3, 4]

It will acces the numbers but will exclude the upper limit

In [ ]:
nums[0:2]

[0, 1]

In the new version, error does not appear if we give the limit outer thant the list index

In [ ]:
print (nums[0:7])

[0, 1, 2, 3, 4]

In [ ]:
print(nums[:])

[0, 1, 2, 3, 4]

In [ ]:
print(nums[::-2])

[4, 2, 0]

In [ ]:
print(nums[0:2:2])

[0]

# List can have different data types

In [ ]:
list1= ['s',['ccc', 'ddd','eee','fff'], range(5), 'g',['hh','ii','jj' ]]
print(list1)
'ddd' in list1

['s', ['ccc', 'ddd', 'eee', 'fff'], range(0, 5), 'g', ['hh', 'ii', 'jj']]

False

In [ ]:
'ddd' in list1[1]

True

List Methods
We can not multiply or add in list

In [ ]:
list1=['1','2','3','4']
list1*2

['1', '2', '3', '4', '1', '2', '3', '4']

In [ ]:
list1=['1','2','3','4']
list2=['5','6','7','8']
list1+ list2 # Concatenation

['1', '2', '3', '4', '5', '6', '7', '8']

In [ ]:
print (list1+['1000'])

['1', '2', '3', '4', '1000']

In [ ]:
x=1
x=x+1
print(x)

2

In [ ]:
a=['1','2','3','4']
a.append(5.0)

In [ ]:
a.insert(0, list(range(5)))
print(a)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], '1', '2', '3', '4', 5.0]

In [ ]:
list1=['1','2','3','4']
list2=['5','6','7','8']
list3=list1+list2

In [ ]:
print (list3)

['1', '2', '3', '4', '5', '6', '7', '8']

In [ ]:
list4=[]
list4.extend(list2)
print(list4)

['5', '6', '7', '8']

In [ ]:
del list4[::2]

In [ ]:
print (list4)

['6', '8']

In [ ]:
print(list3)
list3.index('2')

['1', '2', '3', '4', '5', '6', '7', '8']

1

In [ ]:
list3.remove('3')

In [ ]:
print(list3)

['1', '2', '4', '5', '6', '7', '8']

In [ ]:
# Iteration
animals= [1, 2.2 ,'cats', 'dogs','monkey']
for i in animals:
  print (i, type(i))

1 <class 'int'>
2.2 <class 'float'>
cats <class 'str'>
dogs <class 'str'>
monkey <class 'str'>

In [ ]:
animals= [1, 2.2 ,'cats', 'dogs','monkey']
for i in range(len(animals)):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,50,2):
  print(i, end="\n $")

0
 $2
 $4
 $6
 $8
 $10
 $12
 $14
 $16
 $18
 $20
 $22
 $24
 $26
 $28
 $30
 $32
 $34
 $36
 $38
 $40
 $42
 $44
 $46
 $48
 $

In [ ]:
print(1,2)

1 2

In [ ]:
print(1,2, sep=";")

1;2

In [ ]:
# Enumerate will return a tuple
animals=['cat', 'dog','monkey']
list(enumerate(animals))

[(0, 'cat'), (1, 'dog'), (2, 'monkey')]

In [ ]:
animals=['cat', 'dog','monkey']
for idx, animals in enumerate(animals):
  print(f"(idx): (animals)")

(idx): (animals)
(idx): (animals)
(idx): (animals)

In [ ]:
animals=['cat', 'dog','monkey']
for idx, animals in enumerate(animals):
  print("(): ()")

[4, 16]

In [ ]:
# List Comprehension

nums=[1,2,3,4]
square=[i**2 for i in nums]
print(square)

[1, 4, 9, 16]

In [ ]:
nums=[1,2,3,4]
square=[]
for i in nums:
  if i%2 == 0:
    square.append(i**2)
  else:
    print (square)
print(square)

[]
[4]
[4, 16]

In [ ]:
# List Comprehension

nums=[1,2,3,4]
square=[i**2 for i in nums if i%2==0]
print(square)

[4, 16]

In [ ]:
print(square)

[4, 16]

#Dictionaries (For Key and Value pairs)
## Key value should be integer or string not float

In [ ]:
students ={'name': 'abc', 'gender': 'male' ,'age': 'forthy'}

In [ ]:
print(students)

{'name': 'abc', 'gender': 'male', 'age': 'forthy'}

In [ ]:
print(students.get('forty'))

None

In [ ]:
students ={"student1": {"age":20, "name":"Mudasar"},
          "student2": {"age":30, "name":"Memon"},
          "students": {1: "student1", 2: "student2"}
}

In [ ]:
students.items()

dict_items([('student1', {'age': 20, 'name': 'Mudasar'}), ('student2', {'age': 30, 'name': 'Memon'}), ('students', {1: 'student1', 2: 'student2'})])

In [ ]:
for key in students.items():
  print(key)

('student1', {'age': 20, 'name': 'Mudasar'})
('student2', {'age': 30, 'name': 'Memon'})
('students', {1: 'student1', 2: 'student2'})

In [ ]:
students.pop('student2')

{'age': 30, 'name': 'Memon'}

#LAB 6: Dictionaries in Python


## Create a dictionary called "student" with following key-value pair: "name", "age", "major"

In [ ]:
#1
student= {"age":20, "name":"Mudasar", "major": "computer"}
print(student)

{'age': 20, 'name': 'Mudasar', 'major': 'computer'}

In [ ]:
#2
student['gpa']=3.2
print(student)

{'age': 20, 'name': 'Mudasar', 'major': 'computer', 'gpa': 3.2}

In [ ]:
#3
student_major=student.get("major")
print(student_major)

computer

In [ ]:
#4
grades={"Programing": "A+", "course2": "A"}

In [ ]:
#5
student['courses']=grades
print(student)

{'age': 20, 'name': 'Mudasar', 'major': 'computer', 'gpa': 3.2, 'courses': {'Programing': 'A+', 'course2': 'A'}}

In [ ]:
#6
for i in student['courses']:
  print(i, student['courses'][i])

Programing A+
course2 A

In [ ]:
#6
for i in student['courses']:
  print(i, student['courses'].get(i))

Programing A+
course2 A